<h1> Users </h1>

<p> User list should be here </p>

<p></p>

<a href="/users/new">Create new profile</a>

<ul>
    {{#each users}}
            <li><a href="/users/{{username}}">{{name}}</li>
    {{/each}}
</ul>