<h1>New User</h1>
<form method="POST" action="/users">
    <p></p><label for="username">Username<br /></label>
    <input id="username" name="username"/><p></p>
    <label for="name">Name<br /></label>
    <input id="name" name="name"/><p></p>
    <label for="password">Password<br /></label>
    <input id="password" type="password" name="password"/
    ><p></p><label for="bio">Bio<br /></label>
    <textarea id="bio" name="bio"></textarea><p></p>
    <input type="submit" value="Create"/>
</form>