<h1>{{user.name}}</h1>

<h2> Bio</h2>

<p>{{ user.bio}}</p>

<form action="/users/{{user.username}}" method="POST">

<input name="_method", type="hidden", value="DELETE">

<input type="submit", value="Delete">
</form>